<% include ../Common/header.html %>
<link rel="stylesheet" type="text/css" href="/resource/css/exchange.css">
<div class="doc section">
	<div class="container">
		<div class="row exchange-tips">
			<h4 class="grey-text">积分兑换</h4>
			<ol>
				<li>您可以将您所获得的积分进行京东购物卡的兑换。具体兑换规则如下图所示。</li>
				<li>兑换成功后，从您的总积分中扣减相应的积分。</li>
				<li>注：当前兑换只能通过管理员操作，尚未支持自助兑换。</li>
			</ol>
		</div>
		<div class="row prize-list clearfix">
			<div class="col card-panel prize-card">
				<img src="http://p8.qhimg.com/d/inn/adf75e7d/img/100.jpg" alt="" width="100%">
				<p class="exchange-money clearfix">
					<span class="fr"><strong class="red-mine">200</strong>积分</span>
					<span class="fl"><strong class="red-mine">100</strong>元京东E卡</span>
				</p>
			</div>
			<div class="col card-panel prize-card">
				<img src="http://p8.qhimg.com/d/inn/adf75e7d/img/200.jpg" alt="" width="100%">
				<p class="exchange-money clearfix">
					<span class="fr"><strong class="red-mine">390</strong>积分</span>
					<span class="fl"><strong class="red-mine">200</strong>元京东E卡</span>
				</p>
			</div>
			<div class="col card-panel prize-card">
				<img src="http://p8.qhimg.com/d/inn/adf75e7d/img/500.jpg" alt="" width="100%">
				<p class="exchange-money clearfix">
					<span class="fr"><strong class="red-mine">435</strong>积分</span>
					<span class="fl"><strong class="red-mine">500</strong>元京东E卡</span>
				</p>
			</div>
			<div class="col card-panel prize-card">
				<img src="http://p8.qhimg.com/d/inn/adf75e7d/img/1000.jpg" alt="" width="100%">
				<p class="exchange-money clearfix">
					<span class="fr"><strong class="red-mine">850</strong>积分</span>
					<span class="fl"><strong class="red-mine">1000</strong>元京东E卡</span>
				</p>
			</div>
		</div>
	</div>
</div>

<% include ../Common/common_js.html %>
<!-- footer -->
<% include ../Common/footer.html %>