<footer class="page-footer">
<!-- 	<div class="container">
	<div class="row">
		<div class="col l6 s12">
			<h5 class="white-text">众筹翻译</h5>
			<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
		</div>
		<div class="col l4 offset-l2 s12">
			<h5 class="white-text">Links</h5>
			<ul>
				<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
				<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
			</ul>
		</div>
	</div>
</div> -->
	<div class="footer-copyright">
		<div class="container">© 2015 奇舞团</div>
	</div>
	<%if (userInfo) {%>
	<script>
		function getUserMsg() {
			$.ajax({
				url: '/message/getUnReadMsg',
				type: 'get',
				success: function(data){
					var msg = $('.red-point');
					if (data.errno === 0 && data.data.count > 0) {
						msg.text(data.data.count > 9 ? 9 : data.data.count);
						msg.show();
					}
				},
				error: function(){
					console.error("网络异常");
				}
			});
		}
		getUserMsg();
	</script>
	<%}%>
</footer>
</body>
</html>